* {
    color: #36393b;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    color:black;
}

body {
    background-color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
}
